h1 {
  color: green;
}
h1 {
  background-color:
}


body{
  background-color : grey
}
#tunnel {
  object-fit: cover;
  width:230px;
  height:230px;
}
table, th, tr, td{
  border-radius: 2px;
  border: 2px solid black;
  text-align: center;


}

#tb {
  width: 40%;
}

#union{
  transform: rotate(90deg);
}

#tower{
  transform: rotate(90deg);
}
